<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: header('Login page')">
</head>
<body>
    <div class="container">
        <div th:include="fragments/menu :: bar"></div>
        <h1>Login form</h1>
        <div th:if="${param.error}" class="bg-danger">
            <p>Invalid username and password.</p>
        </div>
        <div th:if="${param.logout}" class="bg-info">
            <p>You have been logged out.</p>
        </div>
        <form th:action="@{/login}" method="post" class="form-inline">
            <div>
                <label class="control-label col-sm-2" for="username">Username:</label>
                <input class="form-control" type="text" name="username" id="username" placeholder="Enter username"/>
            </div>
            <div>
                <label class="control-label col-sm-2" for="password">Password:</label>
                <input class="form-control" type="password" name="password" id="password" placeholder="Enter password"/>
            </div>
            <div>
                <input type="submit" class="btn btn-default" value="Sign In"/>
            </div>
        </form>
    </div>
</body>
</html>